@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif ;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f3f3f7;
    align-items: center;
    box-sizing: border-box;

}

.logo {
   position: absolute;
   top: 10px;
   left: 10px;
}

.nav-links ul {
    display: flex;
    gap: 100px;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a{
    display: flex;
    text-decoration: none;
    outline: none;
}


.header {
    display: flex;
    flex-direction: row;
}

.init-posters {
    position: relative;
    margin-top: 100px;
    border-radius: 20px;
    width: 500px;
}

.div-search {
    display: flex;
    width: 100%;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.div-search input {
    width: 30%;
    outline: none;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    
}

.div-search button {
    padding: 4px;
    background-color: orange;
    border: 0;
    border-radius: 5px;
    color: #18181b;
    cursor: pointer;
    transition: 0.2s;
}
.div-search button:hover {
    background-color: rgb(255, 175, 28);
    color: white;

}
.div-search button:active {
    background-color: rgb(250, 225, 179);
    color: #fff;
    transform: translateY(5px);
}

.other-movies {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin-top: 100px;
    width: 1200px;
}
.other-movies img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.logo {
    width: 100px;
}

.result {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin-top: 100px;
    width: 1200px;
}
.result img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

.linkimage {
    position: relative;
    width: 500px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:center ;

}

.linkimage a {
    position: absolute;
    width: 500px;
    height: 300px;
    text-align: center;
    
}

.movies {
    position: relative;
}

.movies img {
    position: relative;
}

.movies a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}